*{
     font-family: sans-serif;
}

body.darkMode{
     background-color: black;
     color: #f1f1f1;
}

body{
     transition: .5s;
}

.btn {
     width: 150px;
     height: 50px;
     background-color: #ebebeb;
     border-radius: 100px;
     padding: 4px;
     cursor: pointer;
     margin: auto;
     position: relative;

     & .circulo {
          width: 50px;
          height: 50px;
          border-radius: 100px;
          background-color: #fff;
          box-shadow: 0px 0px 10px #0000003d;
          position: absolute;
     }

     & .move {
          transform: translate(100px);
     }
}

.bg-blue {
     background: rgb(52, 120, 223);
}